.dataTable{
    margin-left: 18%;
    
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 0.5rem;
}


/* //Supplier// */

.supplierdate{
    display: flex;
    margin-left: 30%;
    margin-top: 3%;
    gap: 100px;
}
.form{
    display: flex;
    gap: 50px;
}
