.sidebar {
  border-right: 0.5px solid rgb(250, 4, 4);
  min-height: 93vh;
  background-color: rgb(7, 7, 7);
  margin-left: 0%;
  color: white;
  display: flex;
  width: 200px;
  display: flex;
  position: absolute;
  border: 3px solid rgb(252, 253, 253);
}
.dash{
 color:darkorange;
 text-align: center;
}
.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #040310;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color:white;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}


.icon {
  font-size: 15px;
  color: rgb(253, 253, 253);
  margin-left: 15px;

}

span {
  font-size: 15px;
  font-weight: 600;
  color: whitesmoke;
  margin-left: 10px;
}

hr {
  height: 0;
  border: 1px solid rgb(248, 4, 4);
}